body{
  font-family:Montserrat;
}

#title{
  background-color:#FF4C68;
}

.container-fluid{
  padding:3% 15%;
}

.nav-item{
  padding:0px 10px;
}

h1{
  font-family:"Montserrat";
  color:white;
  font-size:3rem;
  line-height: 1.5;
  padding-bottom:50px;
}

h2{
  font-family:"Montserrat";
  font-size:2rem;
  line-height:1.5;
}
.download{
  padding-left:5px;
}

.mobile{
width:60%;
position:relative;
left:100px;
transform:rotate(30deg);
}

#features{
  text-align:center;
  padding-top:50px;
  padding-bottom:50px;
}
.icon{
color:#ef8172;
}

.icon:hover{
  color:#ff4c68;
}

.features-font{
  color:#8f8f8f;
  padding: 5%;
}



#testimonials{
  padding:7% 15%;
  text-align:center;
  background-color:#ef8172;
  color:#fff;
}
.dog-testimonial{
  width:10%;
  border-radius:100%;
  margin:20px;
}
 #press{
   text-align:center;
   padding:50px;
   background-color:#ef8172;
 }

 .press-image{
   width:15%;
   margin:20px 20px 50px;
 }
.pricing-header{
  text-align:center;
  line-height:1.5;
  padding:7% 15%;
}
.card-left{
  position:relative;
  left:100px;
}
.card-mid{
  position:relative;
  left:50px;
}

.card-right{
  position:relative;

}


.ending-text{
  text-align:center;
  padding:7% 15%;
}
